# ======================
# Dependencies
# ======================
/node_modules/

# ======================
# Build outputs
# ======================
/dist/
/dist-ssr/
/coverage/

# ======================
# Logs
# ======================
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# Local env files
# ======================
*.local
.env
.env.*
!.env.example

# ======================
# Cache files
# ======================
.eslintcache
*.tsbuildinfo

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db

# ======================
# Editor / IDE
# ======================
/.idea/

# VS Code：默认忽略整个目录，仅共享必要配置文件
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json


# Visual Studio / other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================
# Cypress
# ======================
/cypress/videos/
/cypress/screenshots/

# ======================
# Vitest
# ======================
__screenshots__/
